.preferirnos {
    height: 80rem;
    text-align: center;
    padding: 10rem 0;
    h3 {
        color: $vgeWhite;
    }
    &__cards {
        display: block;
        @include breakpoint-up(large) {
            padding-top: 7rem;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
        }
        h2 {
            margin-top: 3rem;
        }
        img {
            margin-top: 5rem;
        }
        p {
            color: $vgeWhite;
            padding: 0 2.5rem;
        }
        .preferirnos__tab {
            width: 35rem;
        }
    }
    &__botonera {
        color: $vgeWhite;
        font-size: $font-xl;
    }
}