// Colors
$vgeOrange: #f05a3a;
$vgeBlue: #16243d;
$vgeCian: #0090b3;
$vgeWhite: #ffffff;
$vgeGray: #f4f5f4;
// Font Sizes
$font-sm: 1.4rem; // 14px
$font-md: 1.6rem; // 16px
$font-lg: 2rem; // 20px
$font-xl: 3rem; // 30px